@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
    /*Layouts*/
    --mobileWidth: 375px;
    --desktopWidth: 1440px;
    /* Colors */
    --clr-primary-orange: hsl(35, 77%, 62%);
    --clr-primary-red: hsl(5, 85%, 63%);
    --clr-neutral-100: hsl(36, 100%, 99%);
    --clr-neutral-200: hsl(233, 8%, 79%);
    --clr-neutral-400: hsl(236, 13%, 42%);
    --clr-neutral-900: hsl(240, 100%, 5%);
    /* Font Size */
    font-size: 10px;
    /* Font Weight */
    --fw-400: 400;
    --fw-700: 700;
    --fw-800: 800;
    /* Typography */
    --ff-primary: 'Inter', sans-serif;
}


/*** CSS Reset by https://piccalil.li/blog/a-modern-css-reset/ ***/

/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles, margin and padding on ul, ol elements */

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Set core root defaults */

html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */

body {
    min-height: 100%;
    text-rendering: optimizeSpeed;
    line-height: 1;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* A elements inherit color */

a {
    color: inherit;
    text-decoration: none;
}

/* Make images easier to work with */

img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*** End CSS Reset ***/


/*** Utilities ***/

/* Counter List */

.counter-list {
    counter-reset: li;
}

.counter-list-display::before {
    content: counter(li, decimal-leading-zero);
    counter-increment: li;
}

/*** End Utilities ***/


/*** General ***/


body {
    display: grid;
    justify-content: center;
    padding-inline: clamp(1.6rem, 4vw, 3rem);
    padding-block: 0 13rem;
    overflow-x: hidden;
    font-size: 1.5rem;
    font-family: var(--ff-primary);
    line-height: 1.7;
    background-color: var(--clr-neutral-100);
}

header,
main {
    max-width: 111rem;
}

h1 {
    font-size: clamp(4rem, 6vw, 5.8rem);
    font-weight: var(--fw-800);
    line-height: 1;
    color: var(--clr-neutral-900);
}

h2 {
    font-size: clamp(3.2rem, 6vw, 4rem);
    color: var(--clr-primary-orange);
}

h3 {
    font-size: 2rem;
    color: var(--clr-neutral-100);
    transition: color .2s ease-out;
}

h3:hover,
h3:focus-visible {
    color: var(--clr-primary-orange);
}

h4 {
    font-size: 1.8rem;
    font-weight: var(--fw-800);
    color: var(--clr-neutral-900);
    transition: color .2s ease-out;
}

h4:hover,
h4:focus-visible {
    color: var(--clr-primary-red);
}

main section:not(:last-child) {
    margin-block: 0 6.4rem;
}

/*** End General ***/


/*** Header ***/

header {
    display: grid;
    grid-template-areas: "top" "bottom";
    grid-template-columns: 1fr;
    gap: clamp(0rem, 4vw, 4.5rem);
    align-items: center;
    padding-block: 0 clamp(3.2rem, 8vw, 4.2rem);
}


/* Logo */

.logo {
    grid-area: bottom;
    height: clamp(4rem, 6vw, 6.5rem);
    aspect-ratio: 1;
    -webkit-mask: url(../../assets/images/logo.svg) no-repeat 50% 50%;
    -webkit-mask-size: contain;
    mask: url(../../assets/images/logo.svg) no-repeat 50% 50%;
    mask-size: contain;
    background-color: var(--clr-neutral-900);
}

/* Primary Nav */

.primary-nav {
    grid-area: bottom;
    display: flex;
    justify-self: flex-end;
}

.primary-nav ul {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    overflow: hidden;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: clamp(.5rem, 3vh, 2rem);
    width: 0;
    height: 100vh;
    padding-block: clamp(2rem, 30vh, 15rem) 0rem;
    padding-inline: 3rem 0;
    background-color: var(--clr-neutral-100);
    transition: width .3s ease-out, visibility .3s ease-out;
}

.primary-nav[data-visible="true"] ul {
    visibility: visible;
    width: clamp(60vw, 30rem, 100vw);
    overflow-y: scroll;
}

.primary-nav ul li a {
    padding: .5rem;
    font-size: 1.6rem;
    color: var(--clr-neutral-400);
}

.primary-nav ul li :is(a:hover,
    a:focus-visible) {
    color: var(--clr-primary-red);
}

.primary-nav .toggle-menu {
    z-index: 9999;
    min-width: 4rem;
    aspect-ratio: 1;
    border: none;
    background-color: var(--clr-neutral-900);
    -webkit-mask: url(../../assets/images/icon-menu.svg) no-repeat 50% 50%;
    mask: url(../../assets/images/icon-menu.svg) no-repeat 50% 50%;
    cursor: pointer;
}

.primary-nav[data-visible="true"] .toggle-menu {
    -webkit-mask: url(../../assets/images/icon-menu-close.svg) no-repeat 50% 50%;
    mask: url(../../assets/images/icon-menu-close.svg) no-repeat 50% 50%;
}

.primary-nav .screen-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
    min-height: 100vh;
    min-width: 0vw;
    background-color: transparent;
    backdrop-filter: brightness(20%);
    opacity: 0;
    transition: min-width .3s ease-out, opacity .3s ease-out;

}

.primary-nav[data-visible="true"] .screen-overlay {
    min-width: 100vw;
    opacity: 1;
}

/* Dark/Light Theme */

.toggle-color-scheme-container {
    grid-area: top;
    position: relative;
    z-index: 100;
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.toggle-tooltip {
    position: absolute;
    top: 1.5rem;
    right: 6rem;
    line-height: 1.4;
    padding: .2rem 1rem;
    border-radius: 1rem 0 1rem 1rem;
    font-weight: var(--fw-700);
    color: var(--clr-neutral-400);
    background-color: var(--clr-neutral-900);
}

.toggle-tooltip::after {
    content: '';
    position: absolute;
    top: 0;
    right: -1rem;
    border-left: 1rem solid var(--clr-neutral-900);
    border-right: 1rem solid transparent;
    border-top: 1rem solid var(--clr-neutral-900);
    border-bottom: 1rem solid transparent;
}

.toggle-tooltip[data-tooltip="false"] {
    display: none;
}

.toggle-color-scheme {
    position: relative;
    display: flex;
    align-items: center;
    width: 4rem;
    height: 2.2rem;
    border: .2rem solid var(--clr-neutral-900);
    border-radius: 1.1rem;
    cursor: pointer;
    background-color: transparent;
    opacity: .7;
}

.toggle-color-scheme[data-color-scheme="dark"] {
    border: .2rem solid var(--clr-primary-orange);
}

.toggle-color-scheme::after {
    content: '';
    position: absolute;
    left: .2rem;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: .75rem;
    transform: translateX(0rem);
    background-color: var(--clr-neutral-900);
    transition: transform .3s ease-out;
}

.toggle-color-scheme[data-color-scheme="dark"]::after {
    transform: translateX(1.7rem);
    background-color: var(--clr-primary-orange);
}

/*** End Header ***/


/*** Main ***/

/* Main Article */

.main-article picture {
    margin-bottom: 2.5rem;
}

.main-article picture img {
    min-width: 100%;
}

.main-article p {
    margin-block: 1.5rem 2.2rem;
    color: var(--clr-neutral-400);
}

.main-article button {
    background: none;
    border: none;
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-red);
    letter-spacing: .4rem;
    text-transform: uppercase;
    padding: 1.4rem 3.4rem;
    width: fit-content;
    font-weight: var(--fw-700);
    cursor: pointer;
    transition: background-color .2s ease-out;
    font-size: 1.4rem;
}

.main-article :is(button:hover,
    button:focus-visible) {
    background-color: var(--clr-neutral-900);
}

/* New Articles */

.new-articles {
    height: fit-content;
    padding: 1.4rem 2.1rem 0rem;
    background-color: var(--clr-neutral-900);
}

.new-articles article {
    margin-top: 1.8rem;
}

.new-articles article:not(:last-child) {
    border-bottom: .1rem solid var(--clr-neutral-400);
    margin-bottom: 2.8rem;
}

.new-articles article p {
    padding-block: .4rem 2.8rem;
    color: var(--clr-neutral-400);
}

/* Ordered Articles */

.ordered-articles ol {
    display: grid;
    gap: 3.2rem;
}

.ordered-articles ol li {
    display: flex;
    justify-content: space-between;
    color: var(--clr-neutral-400);
}

.ordered-articles ol li .oa-image {
    max-width: 10rem;
    min-width: 10rem;
    margin-inline: 0 2.4rem;
    overflow: hidden;
}

.ordered-articles ol li .oa-image img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    transition: all .6s ease-in-out;
}

.ordered-articles ol :is(li:hover,
    li:focus-within) .oa-image img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.counter-list-display {
    display: flex;
    flex-direction: column;
}

.counter-list-display::before {
    margin-top: -1rem;
    font-size: 3rem;
    font-weight: var(--fw-700);
    color: var(--clr-neutral-200);
}

/*** End Main ***/


/*** Media Queries ***/

@media screen and (min-width:500px) {
    .ordered-articles ol {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width:500px) and (max-width:868px) {
    .ordered-articles ol li {
        flex-direction: column-reverse;
        gap: 1.5rem;
    }

    .ordered-articles ol li .oa-image {
        min-width: 100%;
    }
}

@media screen and (min-width:768px) {

    .primary-nav ul {
        position: initial;
        width: initial;
        height: initial;
        flex-direction: row;
        gap: 2.7rem;
        padding-block: initial;
        visibility: visible;
        background-color: initial;
    }

    .primary-nav ul li {
        padding-inline: initial;
    }

    .primary-nav .toggle-menu {
        display: none;
    }

    main {
        display: grid;
        grid-template-areas: "main main new" "main main new" "ord-art ord-art ord-art";
        grid-template-columns: repeat(3, 1fr);
        gap: 7.4rem 3rem;
    }

    main section:not(:last-child) {
        margin-block: initial;
    }

    .main-article {
        grid-area: main;
    }

    .main-article article {
        display: grid;
        grid-template-areas: "pic pic" "title p";
        grid-template-columns: repeat(2, 1fr);
        gap: 0 3rem;
        align-items: center;
    }

    .main-article article picture {
        grid-area: pic;
    }

    .main-article article h1 {
        grid-area: title;
    }

    .main-article article div {
        grid-area: p;
        line-height: 1.6;
    }

    .main-article p {
        margin-block: 0rem 3.8rem;
    }

    .new-articles {
        grid-area: new;
        min-height: 100%;
    }

    .ordered-articles {
        grid-area: ord-art;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    main {
        grid-template-areas: "main main main" "new new new" "ord-art ord-art ord-art";
    }
}

/*** End Media Queries ***/